{% extends 'login.html' %}


{% block title %} Login {% endblock %}
{% block content %}
<form method="POST">
	<div id="loginStatus"></div>
	<div class="input-group mb-2 mr-sm-2">
		<div class="input-group-prepend"><div class="input-group-text"><i class="fa fa-user"></i></div></div>
		<input type="text" class="form-control" id="username" name="username" placeholder="Nombre de Usuario" required="required">
	</div>
</br>
	<div class="input-group mb-2 mr-sm-2">
		<div class="input-group-prepend"><div class="input-group-text"><i class="fa fa-lock"></i></div></div>
		<input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required="required">
	</div>
	<div class="form-group mt-3">
		<button type="submit" class="btn btn-azul btn-block btn-lg"><i class="fas fa-sign-in-alt"></i> Iniciar Sesión</button>
	</div>
</form>

{% endblock %}
