{% extends 'base.html' %}
{% block title %} Editar Usuario {% endblock %}
{% block content %}

<a class="btn-azul boton_derecho_superior" href="{{ url_for('auth.update', id=user['id']) }}"><i class="fas fa-backward"></i> Atrás</a>
    <form action="{{ url_for('auth.updatepassword', id=user['id']) }}" method="POST">
        <label for="nombrerol">Contraseña</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend"><div class="input-group-text"><i class="fa fa-lock"></i></div></div>
            <input type="password" class="form-control" id="password" name="password" placeholder="Contraseña" required="required">
        </div>
    </hr><br><br>
        <label for="nombrerol">Nueva contraseña</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend"><div class="input-group-text"><i class="fa fa-lock"></i></div></div>
            <input type="password" class="form-control" id="nuevopassword" name="nuevopassword" placeholder="Nueva contraseña" required="required">
        </div>

        <label for="nombrerol">Repetir contraseña</label>
        <div class="input-group mb-2 mr-sm-2">
            <div class="input-group-prepend"><div class="input-group-text"><i class="fa fa-lock"></i></div></div>
            <input type="password" class="form-control" id="repetirpassword" name="repetirpassword" placeholder="Repetir contraseña" required="required">
        </div>
    </br>
        <div class="form-group mt-3">
            <button type="submit" class="btn btn-azul"><i class="fas fa-save"></i>  Editar Contraseña</button>
        </div>
    </form>
    
{% endblock %}