{% extends 'base.html' %}
{% block title %} Usuario {% endblock %}
{% block content %}

<a class="btn-amarillo boton_derecho_superior" href="{{ url_for('auth.register') }}"><i class="fas fa-plus"></i>
    Nuevo</a>
    {% for user in usuarios %}
    {% if user['privilegio'] == 1 %}
    <div class="bloque_lista bl_en_4 animate__animated animate__bounceInLeft">
    {% else %}
    <div class="bloque_lista bl_en_4 animate__animated animate__bounceInRight">
    {% endif %}
        <div class="bloque_lista_dentro">
            {% if user['privilegio'] == 1 %}
            <i style="color: #fbcf4b;"  class="fas fa-crown"></i>
            {% else %}
            <i style="color:#2d5b89;" class="fas fa-user"></i>
            {% endif %}
        </div>
        <div class="bloque_lista_dentro ">
            <p class="label">Usuario:</p>
            <p>{{ user['username'] }}</p>
        </div>
        <div class="bloque_lista_dentro">
            <p class="label">Rol:</p>
            <p>{{ user['rol'] }}</p>
        </div>
        <div class="bloque_lista_contenedor_action">
            <a class="btn btn-amarillo" href="{{ url_for('auth.update', id=user['id']) }}"><i
                class="fas fa-edit"></i> Editar</a>
        </div>
    </div>
    {% endfor %}

    {% endblock %}