{% extends 'base.html' %}
{% block title %} Roles {% endblock %}
{% block content %}


<a class="btn-amarillo boton_derecho_superior" href="{{ url_for('rol.create') }}"><i class="fas fa-plus"></i> Nuevo</a>
    {% for lista in listarol %}
    {% if lista['privilegio'] == 1 %}
    <div class="bloque_lista bl_en_4 animate__animated animate__bounceInLeft">
        {% else %}
        <div class="bloque_lista bl_en_4 animate__animated animate__bounceInRight">
            {% endif %}
            <div class="bloque_lista_dentro">
                {% if lista['privilegio'] == 1 %}
                <i style="color: #fbcf4b;" class="fas fa-crown"></i>
                {% else %}
                <i style="color:#2d5b89;" class="fas fa-user"></i>
                {% endif %}
            </div>
            <div class="bloque_lista_dentro">
                <p class="label">Rol:</p>
                <p>{{ lista['nombrerol'] }}</p>
            </div>
            <div class="bloque_lista_dentro">
                <p class="label">Descripción:</p>
                <p maxlength="11">{{ lista['descripcion'] }}</p>
            </div>
            <div class="bloque_lista_contenedor_action">
                <a class="btn btn-amarillo" href="{{ url_for('rol.update', id=lista['id']) }}"><i
                        class="fas fa-edit"></i> Editar</a>
            </div>
        </div>
        {% endfor %}
    </div>



    {% endblock %}