{% extends 'base.html' %} {% block title %} Historial {% endblock %} {% block
content %}

<div class="lista animate__animated animate__bounceInRight" id="lista">
  <h4 style="text-align: center">Carne Comprada</h4>
  {% for c in carnecomprada %}
  <div class="bloque_lista bl_en_5">
    <div class="bloque_lista_dentro">
      {% if c['idtipocarne'] == 1 %}
      <img src="../static/img/vaca.png" />
      {% elif c['idtipocarne'] == 2 %}
      <img src="../static/img/cerdo.png" />
      {% else %}
      <img src="../static/img/pollo.png" />
      {% endif %}
    </div>
    <div class="bloque_lista_dentro">
      <p class="label">Hora:</p>
      <p>{{ c['date'].strftime("%H:%M %p") }}</p>
    </div>
    <div class="bloque_lista_dentro">
      <p class="label">Cantidad:</p>
      <p maxlength="11">{{ c['cantidad'] }} Kg.</p>
    </div>
    <div class="bloque_lista_dentro">
      <p class="label">Tipo:</p>
      <p maxlength="11">
        {% if c['idcortecarne'] %} {{ c['nombre'] }} - {{ c['idcortecarne'] }}
        {% else %} {{ c['nombre'] }} {% endif %}
      </p>
    </div>
    <div  class="bloque_lista_contenedor_action">
      {% if g.user.privilegio == 1 %}
      <form action="{{ url_for('index.delete', id=c['id']) }}" method="POST">
        <a
          class="btn btn-amarillo"
          href="{{ url_for('index.update', id=c['id']) }}"
          ><i class="fas fa-edit"></i
        ></a>
        <button
          type="submit"
          onclick="return confirm('Estas seguro de querer eliminar')"
          class="btn btn-rojo texto-blanco"
        >
          <i class="far fa-trash-alt"></i>
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>

<div class="lista animate__animated animate__bounceInLeft">
  <br /><br />
  <h4 style="text-align: center">Carne Guardada</h4>
  {% for c in carneguardada %}
  <div class="bloque_lista bl_en_5">
    <div class="bloque_lista_dentro">
      {% if c['idtipocarne'] == 1 %}
      <img src="../static/img/vaca.png" />
      {% elif c['idtipocarne'] == 2 %}
      <img src="../static/img/cerdo.png" />
      {% else %}
      <img src="../static/img/pollo.png" />
      {% endif %}
    </div>
    <div class="bloque_lista_dentro">
      <p class="label">Hora:</p>
      <p>{{ c['date'].strftime("%H:%M %p") }}</p>
    </div>
    <div class="bloque_lista_dentro">
      <p class="label">Cantidad:</p>
      <p maxlength="11">{{ c['cantidad'] }} Kg.</p>
    </div>
    <div class="bloque_lista_dentro">
      <p class="label">Tipo:</p>
      <p maxlength="11">
        {% if c['idcortecarne'] %} {{ c['nombre'] }} - {{ c['idcortecarne'] }}
        {% else %} {{ c['nombre'] }} {% endif %}
      </p>
    </div>
    <div class="bloque_lista_contenedor_action">
      {% if g.user.privilegio == 1 %}
      <form action="{{ url_for('index.delete', id=c['id']) }}" method="POST">
        <a
          class="btn btn-amarillo"
          href="{{ url_for('index.update', id=c['id']) }}"
          ><i class="fas fa-edit"></i
        ></a>
        <button
          type="submit"
          onclick="return confirm('Estas seguro de querer eliminar')"
          class="btn btn-rojo texto-blanco"
        >
          <i class="far fa-trash-alt"></i>
        </button>
      </form>
      {% endif %}
    </div>
  </div>
  {% endfor %}
</div>





{% endblock %}
