{% extends 'base.html' %}
{% block content %}
<script src="https://cdn.jsdelivr.net/npm/@tensorflow/tfjs@3.9.0/dist/tf.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.3/Chart.bundle.min.js"></script>
<script src="{{ url_for('static', filename='js/jquery.js') }}"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>


<div class="form-row">
  <div class="form-group col-md-6 animate__animated animate__backInRight">
    <label for="email">Carne comprada hoy</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-store"></i></div>
      </div>
      <input type="text" disabled class="form-control" id="carnecomprada" name="carnecomprada"
        value="{{carnecompradahoy}} Kg.">
    </div>
  </div>
  <div class="form-group col-md-6 animate__animated animate__backInRight">
    <label for="password">Carne guardada hoy</label>
    <div class="input-group mb-2 mr-sm-2">
      <div class="input-group-prepend">
        <div class="input-group-text"><i class="fas fa-utensils"></i></div>
      </div>
      <input type="text" class="form-control" value="{{carneocupadahoy}} kg." disabled id="carneocupado"
        name="carneocupado">
    </div>
  </div>
  <div class="animate__animated animate__backInLeft menu-buttons">
    <form id="recomendacion-form" method="POST">
      <a class="btn btn-amarillo" href="historial"><i class="fas fa-check-square"></i> Historial de Carne</a>
      {% if g.user.privilegio == 1 %}
      <a href="{{ url_for('index.agregar_carne') }}" class="btn btn-azul"><i class="fas fa-plus"></i> Agregar Carne</a>
      <a href="{{ url_for('index.guardar_carne') }}" class="btn btn-rojo"><i class="fas fa-save"></i> Guardar carne</a>
      {% endif %}
  </div>
  <div class="animate__animated animate__backInLeft menu-buttons">
    <a href="{{ url_for('index.cortes') }}" class="btn btn-azul"><i class="fas fa-utensils"></i> Cortes de carne</a>
    <a href="{{ url_for('almacen.index') }}" class="btn btn-amarillo"><i class="fas fa-database"></i> Almacén</a>

    <button class="btn btn-verde" type="submit" data-toggle="modal" data-target="#modalrecomendacion"
      data-whatever="@getbootstrap"><i class="fas fa-newspaper"></i> Recomiéndame una receta</button>
    </form>
  </div>


  <div class="title_home">
    <h2 class="text-warning text-center" style="text-align: center;">Predicción para Mañana</h2>
  </div>
  <canvas class="" id="prediccion"></canvas>
  <p class="cuanto-comprar">Se recomienda comprar <b><span id="comprar"></span> kilos</b> de Carne de vaca para mañana.
  </p>
  <hr class="hramarillo">
  <div class="title_home">
    <h2 class="text-warning text-center">{% block title %} Manejo de Carnes {% endblock %}</h2>
  </div>
  <canvas id="statslineal"></canvas>
  <hr class="hrrojo">
  <div class="title_home">
    <h2 class="text-warning text-center" style="text-align: center;">Carne comprada en la semana</h2>
  </div>
  <canvas id="stats"></canvas>
  <hr class="hrrojo">
  <div class="title_home">
    <h2 class="text-warning text-center" style="text-align: center;">Recomendación</h2>
  </div>
  <div class="contenedor_recomendado" id="contenedor_recomendado">

  </div>






  <div class="modal fade" id="modalrecomendacion" tabindex="-1" role="dialog" aria-labelledby="modalrecomendacion"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="titulo"></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <img style="border-radius: 10px;" width="100%" id="miniatura">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
          <a id="id" class="btn btn-azul"><i class="fas fa-photo-video"></i> Ver receta</a>
        </div>
      </div>
    </div>
  </div>


  {% endblock %}